<launch>
    
    <param name="/aloam/scan_line" type="int" value="16" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="/aloam/mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="/aloam/minimum_range" type="double" value="0.1"/>

    <param name="/aloam/mapping_line_resolution" type="double" value="0.2"/>
    <param name="/aloam/mapping_plane_resolution" type="double" value="0.4"/>

    <param name="/aloam/mapviz_filter_size" type="double" value="0.1"/>

    <!-- SC-A-LOAM -->
    <param name="/aloam/keyframe_meter_gap" type="double" value="1.0"/> 
    <param name="/aloam/keyframe_deg_gap" type="double" value="10.0"/> 

    <!-- Scan Context -->
    <param name="/aloam/sc_dist_thres" type="double" value="0.2"/> <!-- SC-A-LOAM, if want no outliers, use 0.1-0.15 -->
    <param name="/aloam/sc_max_radius" type="double" value="40.0"/> <!-- 20 or 40 for indoor -->
    <!-- <param name="/aloam/sc_max_radius" type="double" value="80.0"/> for outdoor -->

    <!--  -->
    <param name="/aloam/lidar_type" type="string" value="VLP16"/> 
    <param name="/aloam/lidar_topic" type="string" value="/velodyne_points_fixed"/>
    <param name="/aloam/lidar_frame" type="string" value="/velodyne_fixed"/>

    <!-- utils -->
    <param name="/aloam/save_directory" type="string" value="/home/mina/catkin_ws/src/SC-A-LOAM-main/utils/data/"/>  <!-- CHANGE THIS and end with / -->
    
    <!-- nodes -->
    <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" ns="/aloam" output="screen" />
    <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" ns="/aloam" output="screen" />
    <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" ns="/aloam" output="screen" />
    <node pkg="aloam_velodyne" type="alaserPGO" name="alaserPGO" ns="/aloam" output="screen" /> <!-- SC-A-LOAM -->
    <node pkg="aloam_velodyne" type="mediator.py" name="mediator" ns="/aloam" output="screen" />   

    <!-- visulaization -->
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find aloam_velodyne)/rviz_cfg/aloam_velodyne.rviz" />
    </group>

</launch>
